<div class="page-header" >
    <h2>{{ctrl.note.title}}</h2>
    <h3>{{ctrl.note.ratings[0].code}}</h3>
  <div class="col-sm-4"><img src="{{ctrl.note.preferredImage.uri}}" alt=""/></div>
  <div class="col-sm-8">
    <a class="btn btn-default" ng-click="ctrl.goBack()">Go Back to Index</a>
    <!--<a class="btn btn-default" ui-sref="edit({noteId:ctrl.note.id})">Edit Note</a>-->
    <!--<a class="btn btn-danger" ng-click="ctrl.deleted(ctrl.note)">Delete</a>-->
  </div>
    <p>{{ctrl.note.longDescription}}</p>
    <p>{{ctrl.note.runTime}}</p>


  <p ng-repeat="director in ctrl.note.directors">{{director}}</p>
  <ul ng-repeat="genre in ctrl.note.genres">
    <li>{{genre}}</li>
  </ul>

  <ul ng-repeat="time in ctrl.note.showtimes">
    <li>{{time.dateTime | date:'h:mm a'}}</li>
  </ul>

  <div class="col-sm-6">
    <div ng-repeat="actor in ctrl.actors" class="col-sm-4">
      <img src="{{actor.image}}" alt="{{actor.name}}"/>
      <p>{{actor.name}}</p>
      <p>{{actor.characterName}}</p>
    </div>
  </div>
  <br/>


  


</div>